{% extends 'partials/base.html' %}

{% block body %}
<section class="mt-20 mb-10 bg-zinc-50	 ">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">



        <p class="text-center flex items-center mb-6 text-2xl font-semibold text-blue-500 ">
            S'inscrire à Hugues Codeur
        </p>

        {% if messages %}
        <ul class="messages text-sm" role="alert">
            {% for message in messages %}
            <li id="flash-message" {% if message.tags %} class="{{ message.tags }} font-medium text-red-400 pb-2"
                {%endif%}>
                {{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div
            class="transition ease-in-out delay-150 hover:border-blue-500 w-full bg-white rounded-lg shadow  md:mt-0 sm:max-w-md xl:p-0  border shadow-lg ">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">







                <h1 class="text-xl text-center font-bold leading-tight tracking-tight text-gray-900 md:text-2xl ">
                    Inscription
                </h1>

                <!-- <button onclick="logout()" type="button" class="border rounded p-2 text-red-400">
                    Déconnexion
                </button> -->

                <form class="space-y-4 md:space-y-6" action="/inscription/" method="post">
                    {% csrf_token %}
                    <div>
                        <!-- <label for="email" class="block mb-2 text-sm text-center font-medium text-gray-400">Email</label> -->
                        <input type="name" name="name" id="name"
                            class=" text-center bg-gray-50 border border-gray-300 focus:outline-none focus:ring-1 ring-offset-2 ring-blue-500 text-gray-900 sm:text-sm rounded-lg  block w-full p-2.5   placeholder-gray-400  "
                            placeholder="Hugues Codeur" required="">
                    </div>
                    <div>
                        <!-- <label for="email" class="block mb-2 text-sm text-center font-medium text-gray-400">Email</label> -->
                        <input type="email" name="email" id="email"
                            class=" text-center bg-gray-50 border border-gray-300 focus:outline-none focus:ring-1 ring-offset-2 ring-blue-500 text-gray-900 sm:text-sm rounded-lg  block w-full p-2.5   placeholder-gray-400  "
                            placeholder="huguescodeur@gmail.com" required="">
                    </div>
                    <div>
                        <!-- <label for="email" class="block mb-2 text-sm text-center font-medium text-gray-400">Email</label> -->
                        <input type="password" name="password" id="password"
                            class=" text-center bg-gray-50 border border-gray-300 focus:outline-none focus:ring-1 ring-offset-2 ring-blue-500 text-gray-900 sm:text-sm rounded-lg  block w-full p-2.5   placeholder-gray-400  "
                            placeholder="password" required="">
                    </div>

                    <div>
                        <!-- <label for="password" class="block mb-2 text-sm font-medium text-gray-400 ">Mot de passe</label> -->
                        <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirmation"
                            class="text-center bg-gray-50 border border-gray-300 focus:outline-none focus:ring-1 ring-offset-2 ring-blue-500 text-gray-900 sm:text-sm rounded-lg  block w-full p-2.5   placeholder-gray-400  "
                            required="">
                    </div>

                    <div>
                        <!-- <label for="password" class="block mb-2 text-sm font-medium text-gray-400 ">Mot de passe</label> -->
                        <input type="hidden" name="role" value="apprenant">
                    </div>



                    <div class="w-full pt-2 flex justify-center">
                        <button type="submit"
                            class="w-1/2 bg-blue-500 hover:bg-blue-600  text-white border bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:bg-primary-700 focus:ring-primary-800">Inscription
                        </button>
                    </div>
                    <div class="w-full flex justify-center">
                        <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                            Vous avez un compte? <a href="{% url 'connexion' %}"
                                class="font-medium text-blue-500 hover:text-blue-600 ">Connectez-vous</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>

    function logout() {
        window.location.href = "{% url 'logout' %}";
    }

    setTimeout(function () {
        var flashMessage = document.getElementById("flash-message");
        if (flashMessage) {
            flashMessage.style.display = "none";
        }
    }, 3000);

</script>
{% endblock %}