{% extends 'partials/base.html' %}
{% block body %}
<div class="mt-32">
    <div class="section-forgot-password mt-12 mb-8 min-h-72 w-full  text-center">
        <h1 class="text-5xl mt-6 font-bold leadi sm:text-6xl">Nouveau <br> mot de passe</h1>
        <div class=" flex justify-center">
            <div class="container-form-forgot-password mt-8 mb-8 w-80   rounded-lg shadow border-2 shadow-lg">
                <form class="px-8 w-full h-full flex flex-col items-center justify-center"
                    action="{% url 'reset_password' %}" method="post">
                    {% csrf_token %}

                    {% if messages %}
                    <ul class="messages text-sm mb-2" role="alert">
                        {% for message in messages %}
                        <li id="flash-message" {% if message.tags %} class="{{ message.tags }} font-medium text-red-400"
                            {%endif%}>
                            {{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}


                    <!-- <label for="email" class="block mb-2 text-sm text-center font-medium text-gray-400">Email</label> -->
                    <input type="password" name="new-password" id="new-password"
                        class="mb-5 w-full text-center bg-gray-50 border border-gray-300 focus:outline-none focus:ring-1 ring-offset-2 ring-blue-500 text-gray-900 sm:text-sm rounded-lg  block w-full p-2.5   placeholder-gray-400  "
                        placeholder="password" required="">

                    <!-- <label for="password" class="block mb-2 text-sm font-medium text-gray-400 ">Mot de passe</label> -->
                    <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirmation"
                        class="mb-5 w-full text-center bg-gray-50 border border-gray-300 focus:outline-none focus:ring-1 ring-offset-2 ring-blue-500 text-gray-900 sm:text-sm rounded-lg  block w-full p-2.5   placeholder-gray-400  "
                        required="">

                    <input type="hidden" name="token" value="{{ token }}" id="token"
                        class="mb-5 w-full text-center bg-gray-50 border border-gray-300 focus:outline-none focus:ring-1 ring-offset-2 ring-blue-500 text-gray-900 sm:text-sm rounded-lg  block w-full p-2.5   placeholder-gray-400  "
                        required="">


                    <button type="submit"
                        class="w-full bg-blue-500 hover:bg-blue-600  text-white border bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:bg-primary-700 focus:ring-primary-800">Confirmer
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    setTimeout(function () {
        var flashMessage = document.getElementById("flash-message");
        if (flashMessage) {
            flashMessage.style.display = "none";
        }
    }, 3000);

</script>
{% endblock %}