{% load static %}
<nav id=navbar class="nav px-12 py-6 flex justify-between items-center bg-white">
    <a id=huguescodeur class="text-3xl text-blue-500 font-bold leading-none hover:text-blue-600"
        href="{% url 'accueil' %}">
        Hugues Codeur
    </a>
    <div class=lg:hidden>
        <button class="navbar-burger flex items-center text-blue-600 p-3">
            <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns=http://www.w3.org/2000/svg>
                <title>Mobile menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
        </button>
    </div>
    <ul
        class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6">
        <li class="{% if current_view_name == 'accueil' %}active{% endif %}"><a
                class="text-sm text-gray-400 hover:text-gray-500" href="{% url 'accueil' %}">Accueil</a></li>
        <li class="{% if current_view_name == 'tutoriels' or current_view_name == 'mes_tutoriels' %}active{% endif %}">
            <a class="text-sm text-gray-400 hover:text-gray-500" href="{% url 'tutoriels' %}">Tutoriels</a>
        </li>
        <li
            class="{% if current_view_name == 'formations' or current_view_name == 'mes_formations' or current_view_name == mes_formations_slug %}active{% endif %}">
            <a class="text-sm text-gray-400 hover:text-gray-500" href="{% url 'formations' %}">Formations</a>
        </li>
        <li class="{% if current_view_name == 'contact' %}active{% endif %}"><a
                class="text-sm text-gray-400 hover:text-gray-500" href="{% url 'contact' %}">Contact</a></li>
    </ul>
    <div class="menu-dropdown1 hs-dropdown hidden lg:block relative">
        <button id=hs-dropdown-custom-trigger1 type=button
            class="menu-dropdown-btn1 hs-dropdown-toggle py-1 ps-1 pe-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:ring-1 focus:ring-blue-400">
            <img class="w-8 h-auto rounded-full mr-2" src="{% static image_url %}" alt="Profil image">
            <span class="profil_image font-medium truncate max-w-[7.5rem] dark:text-gray-400"> {{user.12}} </span>
        </button>
        <div class="sous-menu-dropdown1 absolute transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-[5rem] bg-white shadow-md rounded-lg p-2 mt-2 right-0"
            aria-labelledby=hs-dropdown-custom-trigger aria-labelledby=hs-dropdown-custom-trigger>
            <a class="dark:hover:text-gray-300 flex items-center gap-x-3.5 py-1 rounded-lg text-sm text-gray-800 focus:outline-none text-gray-400"
                href="{% url 'settings' %}">
                Paramètres
            </a>
            <a class="dark:hover:text-gray-300 flex items-center gap-x-3.5 py-1 rounded-lg text-sm text-gray-800 focus:outline-none text-gray-400"
                href="{% url 'logout' %}">
                Déconnexion
            </a>
        </div>
    </div>
</nav>
<div class="navbar-menu relative z-50 hidden">
    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
    <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
        <div class="flex items-center mb-8">
            <a class="mr-auto text-3xl text-blue-600 font-bold leading-none" href="{% url 'accueil' %}">
                Hugues Codeur
            </a>
            <button class=navbar-close>
                <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns=http://www.w3.org/2000/svg
                    fill=none viewBox="0 0 24 24" stroke=currentColor>
                    <path stroke-linecap=round stroke-linejoin=round stroke-width=2 d="M6 18L18 6M6 6l12 12">
                    </path>
                </svg>
            </button>
        </div>
        <div>
            <ul>
                <li class="mb-1 {% if current_view_name == 'accueil' %}active {% endif %}">
                    <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
                        href="{% url 'accueil' %}">Accueil</a>
                </li>
                <li class="mb-1 {% if current_view_name == 'tutoriels' %}active{% endif %}">
                    <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
                        href="{% url 'tutoriels' %}">Tutoriels</a>
                </li>
                <li
                    class="mb-1 {% if current_view_name == 'formations' or current_view_name == 'mes_formations' or current_view_name == mes_formations_slug %}active{% endif %}">
                    <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
                        href="{% url 'formations' %}">Formations</a>
                </li>
                <li class="mb-1 {% if current_view_name == 'contact' %}active{% endif %}">
                    <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
                        href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
        </div>
        {% if user %}
        <div class="menu-dropdown2 hs-dropdown relative">
            <button id=hs-dropdown-custom-trigger2 type=button
                class="menu-dropdown-btn2 hs-dropdown-toggle py-1 ps-1 pe-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:ring-1 focus:ring-blue-400">
                <img class="w-8 h-auto rounded-full mr-2" src="{% static image_url %}" alt="profil image">
                <span class="profil_image text-gray-600 font-medium truncate max-w-[7.5rem] dark:text-gray-400">
                    {{user.12}} </span>
            </button>
            <div class="sous-menu-dropdown2 transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-[15rem] bg-white shadow-md rounded-lg rounded-lg mt-2 right-0 border-2"
                aria-labelledby=hs-dropdown-custom-trigger aria-labelledby=hs-dropdown-custom-trigger>
                <a class="flex items-center gap-x-3.5 py-1 pl-2 rounded-lg text-sm text-gray-800 focus:outline-none focus:bg-gray-100 dark:text-gray-400 dark:hover:text-gray-300"
                    href="{% url 'settings' %}">
                    Paramètres
                </a>
                <a class="flex items-center gap-x-3.5 py-1 pl-2 rounded-lg text-sm text-gray-800 focus:outline-none focus:bg-gray-100 dark:text-gray-400 dark:hover:text-gray-300"
                    href="{% url 'logout' %}">
                    Déconnexion
                </a>
            </div>
        </div>
        <div class=mt-auto>
            <p class="my-4 text-xs text-center text-gray-400">
                <span>Copyright © HuguesCodeur - 2024</span>
            </p>
        </div>
        {% else %}
        <div class=mt-auto>
            <div class=pt-6>
                <a class="block px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold leading-none bg-gray-50 hover:bg-gray-100 rounded-xl"
                    href="{% url 'connexion' %}" @click="show=true"
                    class="px-6 py-2 font-bold text-blue-100 bg-blue-600 rounded-md">Connexion</a>
                <a class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-blue-600 hover:bg-blue-700 rounded-xl"
                    href="{% url 'inscription' %}">Inscription</a>
            </div>
            <p class="my-4 text-xs text-center text-gray-400">
                <span>Copyright © HuguesCodeur - 2024</span>
            </p>
        </div>
        {% endif %}
    </nav>
</div>
<script>document.getElementById("hs-dropdown-custom-trigger2").addEventListener("click", (function () { var t = this.nextElementSibling; t.classList.toggle("hidden"), t.classList.toggle("opacity-0"), this.querySelector("svg").classList.toggle("rotate-180") })), document.getElementById("hs-dropdown-custom-trigger1").addEventListener("click", (function () { var t = this.nextElementSibling; t.classList.toggle("hidden"), t.classList.toggle("opacity-0"), this.querySelector("svg").classList.toggle("rotate-180") }))</script>
<script>document.addEventListener("DOMContentLoaded", (function () { const e = document.querySelectorAll(".navbar-burger"), n = document.querySelectorAll(".navbar-menu"); if (e.length && n.length) for (var t = 0; t < e.length; t++)e[t].addEventListener("click", (function () { for (var e = 0; e < n.length; e++)n[e].classList.toggle("hidden") })); const l = document.querySelectorAll(".navbar-close"), r = document.querySelectorAll(".navbar-backdrop"); if (l.length) for (t = 0; t < l.length; t++)l[t].addEventListener("click", (function () { for (var e = 0; e < n.length; e++)n[e].classList.toggle("hidden") })); if (r.length) for (t = 0; t < r.length; t++)r[t].addEventListener("click", (function () { for (var e = 0; e < n.length; e++)n[e].classList.toggle("hidden") })) }))</script>